{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky{% endblock %}

{% block page_content %}
<div class="page-header">
    {% if email_error %}
    <h1>Hello, {% if name %}{{ name }}{% else %}Stranger{% endif %}!</h1>
    <h1>Please enter a UofT email address.</h1>
    {% elif name and email %}
    <h1>Hello, {{ name }}!</h1>
    <h1>Your email address is {{ email }}.</h1>
    {% else %}
    <h1>Hello, Stranger!</h1>
    {% endif %}
</div>
{{ wtf.quick_form(form) }}
{% endblock %}